/*GENERAL*/
:root {
    --Primary-Font: 'Roboto', sans-serif;
    --Secondary-Font: 'Montserrat', sans-serif;
    --Black: #000;
    --white: #fff;
    --Primary: #69ff47;
    --Secondary: #4769FF;
    --Tertiary: #DD49FF;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

/*HEADER*/
header {
    width: calc(100% - 4%);
    height: 90px;
    padding: 0 2% 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--Primary-Font);
}

a:hover {
    color: var(--Primary);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.nav--oneButton a {
    position: absolute;
    right: 2%;
}

/*BUTTON*/
.button--header {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.button--main {
    background-color: var(--Secondary);
    padding: 16px 32px;
    border-radius: calc(16px + 28.235px);
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.button--main:hover {
    background-color: var(--Tertiary);
    color: var(--white);
}

/*MAIN*/
main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: var(--Secondary-Font);
    font-size: 48px;
    font-weight: 700;
    color: var(--Black);
    margin: 0;
    margin-left: 16px;
}

p {
    font-family: var(--Secondary-Font);
    font-size: 16px;
    font-weight: 400;
    color: var(--Black);
    margin: 0;
    margin-left: 20px;
}

/*HOME*/
.main--content--home {
    margin-top: 90px;
    width: 100%;
    height: calc(100vh - 90px);
}

/*CREATOR*/
.creator {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.creator--shoeDisplay {
    background-color: var(--Primary);
    height: calc(100vh - 90px);
    margin-top: 90px;
}

.creator--shoeOptions {
    background-color: var(--Secondary);
    height: calc(100vh - 90px);
    margin-top: 90px;
}